<!DOCTYPE html>
<html>

	<head>
		{% block head %}
			<meta charset="UTF-8">
			<link href="{{ asset('css/generalStyles.css') }}" rel="stylesheet" />
			<link href="{{ asset('css/listStyles.css') }}" rel="stylesheet" />
			<script type="text/javascript" src="{{ asset('js/headerBar.js') }}"></script>
			<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>

	<body>
		{% block headerBar %}
		{% endblock %}

		<div id="pageContentWrapper">
			<div id="pageContent">
				
				{% block content %}
				{% endblock %}

			</div>
		</div>
	</body>

</html>