.listHeadRow {
	border-width: 1px;
	border-style: solid;
	border-color: #628794;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.listRow {
	width: 100%;
	float: left;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.listRow a:link, .listRow a:visited {
	color: #143C66;
}

.listRow a:hover, .listRow a:active {
	color: #2E87E6;
}

.listHeadRowCell {
	font-size: 14px;
	color: #222F33;
	float: left;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	overflow: hidden;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.listHeadRowCell:nth-of-type(even) {
	background-color: #7EAEBF;
}

.listHeadRowCell:nth-of-type(odd) {
	background-color: #90C6D9;
}

.listRow:nth-of-type(even) .listRowCell:nth-of-type(even) {
	background-color: #D1E6ED;
}

.listRow:nth-of-type(even) .listRowCell:nth-of-type(odd) {
	background-color: #E0F7FF;
}

.listRow:nth-of-type(odd) .listRowCell:nth-of-type(even) {
	background-color: #E1EAED;
}

.listRow:nth-of-type(odd) .listRowCell:nth-of-type(odd) {
	background-color: #F2FCFF;
}

.listRowCell {
	font-size: 13px;
	color: #333F33;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	overflow: hidden;
	overflow-wrap: break-word;
  	word-wrap: break-word;
  	flex-grow: 1;
	-webkit-flex-grow: 1;
  	-ms-word-break: break-word;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
