.checkBoxColumn {
	min-width: 30px;
	width: 30px;
}

.firstNameColumn {
	min-width: 100px;
	width: 21%;
}

.lastNameColumn {
	min-width: 100px;
	width: 21%;
}

.cityColumn {
	min-width: 100px;
	width: 16%;
}

.mobileColumn {
	min-width: 100px;
	width: 13%;
}

.emailColumn {
	min-width: 100px;
	width: 24%;
}

.detailsColumn {
	min-width: 70px;
	width: 2.5%;
}

.editColumn {
	min-width: 70px;
	width: 2.5%;
}
