.checkBoxColumn {
	min-width: 30px;
	width: 30px;
}

.typeNameColumn {
	min-width: 90px;
	width: 23%;
}

.nameColumn {
	min-width: 100px;
	width: 27%;
}

.shortNameColumn {
	min-width: 70px;
	width: 14%;
}

.countryColumn {
	min-width: 100px;
	width: 22%;
}

.enabledColumn {
	min-width: 70px;
	width: 9%;
}

.detailsColumn {
	min-width: 70px;
	width: 2.5%;
}

.editColumn {
	min-width: 70px;
	width: 2.5%;
}